<div class="modal-content">
    <form ng-submit="vm.changePassword()" class="form-vertical" novalidate>
        <div class="modal-header">
            <button type="button" class="close" ng-click="vm.cancel()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4> Change Password</h4>
        </div>
        <div class="modal-body v-spacer-20">
            <div class="row center-block">
                <div class="col-md-12">
                    <div class="form-vertical">
                        <div class="form-group" ng-show="vm.showErrorMessage">
                            <div class="alert alert-danger">
                                <span ng-repeat="message in vm.errorMessages">
                                    {{ message }}<br />
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="oldPassword" class="control-label">Old Password</label>
                            <input class="form-control"
                                   name="oldPassword"
                                   type="password"
                                   placeholder="Old Password"
                                   required
                                   ng-model="vm.oldPassword" />
                        </div>

                        <div class="form-group">
                            <label for="newPassword" class="control-label">New Password</label>
                            <input class="form-control"
                                   name="newPassword"
                                   type="password"
                                   placeholder="New Password"
                                   required
                                   ng-model="vm.newPassword" />
                        </div>

                        <div class="form-group">
                            <label for="confirmPassword" class="control-label">Confirm New Password</label>
                            <input class="form-control"
                                   name="confirmPassword"
                                   type="password"
                                   placeholder="Confirm New Password"
                                   required
                                   ng-model="vm.confirmPassword" />
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="modal-footer footer v-spacer-20">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" ng-click="vm.cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </form>
</div>