<div id="modal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center">
                <span class="navbar-text-logo">Pizza Place Sales</span>
            </div>
            <div class="modal-body v-spacer-20">
                <div class="row center-block">
                    <div class="col-md-12">
                        <h4>Forgot Password</h4>
                    </div>
                </div>
                <div class="row center-block">
                    <div class="col-md-12">
                        <form novalidate name="newForgotPasswordForm" class="form-vertical" ng-submit="vm.submit()">
                            <div class="form-group">
                                <div class="alert alert-danger" ng-show="vm.showMessage">{{ vm.message }}</div>
                            </div>
                            <div class="form-group">
                                <label for="emailAddress" class="control-label">Enter your username: </label>
                                <div class="input-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input class="form-control input"
                                           name="emailAddress"
                                           type="text"
                                           placeholder="Username"
                                           required
                                           ng-model="vm.forgotPassword.username" />
                                </div>
                            </div>
                            <div class="form-group v-spacer-40">
                                <input class="btn btn-primary btn-block" type="submit" value="Submit" />
                            </div>
                            <div class="form-group">
                                <a href="#!/signIn" class="btn btn-link pull-right">Back to Sign In</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer footer v-spacer-20">
                <div class="row center-block">
                    <div class="col-md-12">
                        <span class="pull-left">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
