<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header">
                    Modules
                    <button ng-click="vm.addModule()" class="btn btn-success btn-sm pull-right">
                        <i class="fa fa-plus"></i> Add
                    </button>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form bs-no-validation>
                    <div class="table-responsive">
                        <div id="gridModules"
                             ui-grid="vm.gridModules"
                             class="grid"
                             ui-grid-auto-resize
                             ui-grid-pagination
                             ui-grid-resize-columns
                             ui-grid-move-columns></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>